/*
| ===== Dark Mode ====== |

< == Color Scheme == >
Purple : #BB86FC
Blue 01 : #6200EE
Blue 02 : #3700B3
BlueGreen 01 : #03DAC6
BlueGreen 02 : #018786
Pink : #CF6679
Red : #B00020
Dark : #121212
       #3f4761
       #222831
       #283149

< == Dracula == >
Background = #282a36
Current Line = #44475a
Selection = #44475a
Foreground = #f8f8f2
Comment = #6272a4
Cyan = #8be9fd
Green = #50fa7b
Orange = #ffb86c
Pink = #ff79c6
Purple = #bd93f9
Red = #ff5555
Yellow = #f1fa8c
*/

:root {
  --bg-navbar: rgba(245, 245, 245, 0.7);
  --text-dark: black;
  --bg-dark: #dedede;
  --bg-2nd: #ffff;
  --bg-3rd: #ebebeb;
  --text-2nd: #777;
  --dark: #0000;
}

/*Dark Mode*/
.dark-mode {
  background-color: var(--bg-dark);
  color: #f8f8f2;
  --bg-navbar: rgba(53, 60, 81, 0.7);
  --text-dark: white;
  --bg-dark: #1f1f24;
  --bg-2nd: #232931;
  --bg-3rd: #232931;
  --text-2nd: #b0b0b0;
  --dark: #FFFF;
}

.text-coloring {
  color: var(--text-dark);
}

#text-coloring a:link {
  color: var(--text-dark);
}

#text-coloring a:visited {
  color: var(--text-dark);
}

#text-coloring a:hover {
  color: var(--text-dark);
}

#text-coloring a:active {
  color: var(--text-dark);
}

/*Yang butuh background lebih kental, hweheh*/
.second-bg {
  background-color: var(--bg-2nd);
}

/*Blockquote untuk Quote*/
blockquote {
  font-size: 18px;
  margin: auto auto;
  padding: 0.7em 0.8em 0.7em 0.8em;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  width: 100%;
  color: var(--text-dark);
  border-left: 6px solid #0d6efd;
  border-radius: 4px;
  background-color: var(--bg-3rd);
}
blockquote > p {
  margin: auto auto;
}

/*Logo Tech*/
#tech-logo {
  transition: all 0.2s linear;
}
#tech-logo:hover {
  transform: scale(1.2);
}

/*Tombol Dark Mode*/
#toggle {
  transition: all 0.2s linear;
}
#toggle:hover {
  transform: scale(1.2);
}

/*Text gelap*/
.text-second {
  color: var(--text-2nd);
}

/*Syntax Highlighter*/
.highlight pre {
  padding: 8px 14px 8px 14px;
  border-radius: 5px;
}

/*Gambar nya biar tumpul*/
.blog-images {
  border-radius: 5px;
}

/*Ganti font di judul nya*/
.judul {
  font-family: "Open Sans";
}
.courier {
  font-family: courier;
}


/*Navigasi Bar*/
nav {
  background: var(--bg-navbar);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(10px);
  color: var(--text-dark);
}

.link {
  position: relative;
  padding-bottom: 4px;
  cursor: pointer;
}

.link::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  width: 0%;
  height: 5px;
  border-radius: 2px;
  background-color: #0d6efd;
  transition: width 0.2s ease-out;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.link:hover.link::after {
  width: 100%;
}

.navbar-nav > li{
  margin-left:7px;
  margin-right:7px;
}
/*Akhir Navigasi Bar*/

.form-check {
  margin-left:10px;
  margin-right:10px;
}

tr td a .judul-blog:hover {
  color: #0c49a6;
}

section {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

/*Project Card*/
div .project-card {
  width: 100%;
  height: 100%;
  padding: 1.3em 1.5em 0.5em 1.5em;
  background-color: var(--bg-3rd);
  border-radius: 5px;
  border: 2px solid #0d6efd;
}
.project-link {
  color: #0d6efd;
  transition: all 0.2s linear;
  margin-right: 4px;
  margin-left: 4px;
}
.project-link:hover {
  transform: scale(1.2);
  color: var(--text-dark);
}

/* Social Media Icons */
.social-icons {
  text-decoration: none;
  transition: all 0.2s linear;
  margin-right: 4px;
  margin-left: 4px;
}
.social-icons:hover {
  transform: scale(1.3);
  color: #0d6efd;
}

/* Margin Bottom */
.margin-vertical {
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

input[type="name"], input[type="email"], input[type="subject"], textarea[name="message"] {
  background-color : #e6e6e6;
  border: 2px solid #cfcfcf;
}