/*
| ===== Dark Mode ====== |

< == Color Scheme == >
Purple : #BB86FC
Blue 01 : #6200EE
Blue 02 : #3700B3
BlueGreen 01 : #03DAC6
BlueGreen 02 : #018786
Pink : #CF6679
Red : #B00020
Dark : #121212

< == Dracula == >
Background = #282a36
Current Line = #44475a
Selection = #44475a
Foreground = #f8f8f2
Comment = #6272a4
Cyan = #8be9fd
Green = #50fa7b
Orange = #ffb86c
Pink = #ff79c6
Purple = #bd93f9
Red = #ff5555
Yellow = #f1fa8c
*/

:root {
  --bg-navbar: rgba(245, 245, 245, 0.7);
  --text-dark: black;
  --bg-dark: #dedede;
  --bg-2nd: #ffff;
  --bg-3rd: #ebebeb;
  --text-2nd: #777;
}

/*Dark Mode*/
.dark-mode {
  background-color: var(--bg-dark);
  color: #f8f8f2;
  --bg-navbar: rgba(53, 60, 81, 0.7);
  --text-dark: white;
  --bg-dark: #1f1f24;
  --bg-2nd: #222831;
  --bg-3rd: #3f4761;
  --text-2nd: #b0b0b0;
}

.text-coloring {
  color: var(--text-dark);
}

#text-coloring a:link {
  color: var(--text-dark);
}

#text-coloring a:visited {
  color: var(--text-dark);
}

#text-coloring a:hover {
  color: var(--text-dark);
}

#text-coloring a:active {
  color: var(--text-dark);
}

/*Yang butuh background lebih kental, hweheh*/
.second-bg {
  background-color: var(--bg-2nd);
}

/*Logo Tech*/
#tech-logo {
  transition: all 0.2s linear;
}

#tech-logo:hover {
  transform: scale(1.3);
}

/*Tombol Dark Mode*/
#toggle {
  transition: all 0.2s linear;
}

#toggle:hover {
  transform: scale(1.2);
}

/*Text gelap*/
.text-second {
  color: var(--text-2nd);
}

/*Syntax Highlighter*/
.highlight pre {
  padding: 8px 14px 8px 14px;
  border-radius: 5px;
}

/*Gambar nya biar tumpul*/
.blog-images {
  border-radius: 5px;
}

/*Ganti font di judul nya*/
.judul {
  font-family: courier;
}


/*Navigasi Bar*/
nav {
  background: var(--bg-navbar);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(10px);
  color: var(--text-dark);
}

.link {
  position: relative;
  padding-bottom: 3px;
  cursor: pointer;
}

.link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 5px;
  border-radius: 3px;
  background-color: #0d6efd;
  transition: width 0.3s ease-out;
}

.link:hover.link::after {
  width: 100%;
}

.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}
/*Akhir Navigasi Bar*/

.form-check {
  margin-left:10px;
  margin-right:10px;
}

tr td a .judul-blog:hover {
  color: #0c49a6;
}

section {
  padding-top: 7rem;
  padding-bottom: 3rem;
}

/* Facebook */
.fa-facebook {
  transition: all 0.2s linear;
  margin-right: 4px;
  margin-left: 4px;
}
.fa-facebook:hover {
  transform: scale(1.2);
  color: #0d6efd;
}

/*WhatsApp*/
.fa-whatsapp {
  transition: all 0.2s linear;
  margin-right: 4px;
  margin-left: 4px;
}
.fa-whatsapp:hover {
  transform: scale(1.2);
  color: green;
}

/*Instagram*/
.fa-instagram {
  transition: all 0.2s linear;
  margin-right: 4px;
  margin-left: 4px;
}
.fa-instagram:hover {
  transform: scale(1.2);
  color: #C13584;
}

/*Telegram*/
.fa-telegram {
  transition: all 0.2s linear;
  margin-right: 4px;
  margin-left: 4px;
}
.fa-telegram:hover {
  transform: scale(1.2);
  color: #0088CC;
}

/*Github*/
.fa-github {
  transition: all 0.2s linear;
  margin-right: 4px;
  margin-left: 4px;
}
.fa-github:hover {
  transform: scale(1.2);
  color: #8A8A8A;
}
