:root {
  --bg-navbar: rgba(245, 245, 245, 0.7);
  --bg-navbar-no-blur: #F0F0F7;
  --text-dark: #000;
  --bg-dark: #dedede;
  --bg-2nd: #ffff;
  --bg-3rd: #ebebeb;
  --text-2nd: #777;
  --dark: #0000;
  --reverse-text-dark: #ffff;
  --reverse-bg-dark: #1f1f24;
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-track{
  background: #F0F0F7;
}

html::-webkit-scrollbar-thumb{
  background: #0d6efd;
}

*::selection {
  background: var(--reverse-bg-dark);
  color: var(--reverse-text-dark);
}

/*Dark Mode*/
.dark-mode {
  background-color: var(--bg-dark);
  color: #f8f8f2;
  --bg-navbar: rgba(53, 60, 81, 0.7);
  --bg-navbar-no-blur: #2F2F38; /* #282830 #26262E #232329 */
  --text-dark: #ffff;
  --bg-dark: #1f1f24;
  --bg-2nd: #232931;
  --bg-3rd: #232931;
  --text-2nd: #b0b0b0;
  --dark: #FFFF;
  --reverse-text-dark: #000;
  --reverse-bg-dark: #dedede;
}

/* Navbar */
nav {
  z-index: 1;
  position: fixed;
  height: 58px;
  width: 100%;
  background-color: var(--bg-navbar-no-blur);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
nav label {
  font-style: "Helvetica Neue", sans-serif;
  float: left;
  position: fixed;
  display: inline-block;
  font-size: 25px;
  margin: 0 40px;
  line-height: 58px;
}
label #logo {
  width: 30px !important;
  height: 30px !important;
  margin: 10px 0;
  margin-top: 3px;
}
label #menu,
label #close {
  line-height: 58px;
  margin: 0 25px;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 0;
}
#check {
  display: none;
}
nav ul {
  float: right;
  list-style: none;
  margin: 0 40px;
}
nav ul li {
  font-size: 17px;
  display: inline-block;
  line-height: 58px;
  list-style: none;
  margin: 0 8px;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-dark);
  padding: 14px 2px;
}
nav ul li a:hover {
  color: #0d6efd;
  border-bottom: 4px solid #0d6efd;
}
@media (max-width: 782px) {
  nav label {
    position: fixed;
    margin: 0 25px;
  }
  label #menu {
    display: block;
    line-height: 58px;
    margin: 0 25px;
    right: 0;
  }

  ul {
    position: fixed;
    width: 75%;
    height: 100vh;
    right: 0 !important;
    left: -75%;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-top: 30px !important;
    background-color: var(--bg-navbar-no-blur);
    text-align: center;
    transition: 0.5s;
    display: block;
    float: none;
  }

  nav ul li {
    display: block;
    margin: 15px 0;
  }

  #check:checked ~ ul {
    left: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  #check:checked ~ label #menu {
    display: none;
  }

  #check:checked ~ label #close {
    display: block;
  }
}
/* Akhir Navbar */
.text-coloring {
  color: var(--text-dark);
}

#text-coloring a:link {
  color: var(--text-dark);
}

#text-coloring a:visited {
  color: var(--text-dark);
}

#text-coloring a:hover {
  color: var(--text-dark);
}

#text-coloring a:active {
  color: var(--text-dark);
}

/*Yang butuh background lebih kental, hweheh*/
.second-bg {
  background-color: var(--bg-navbar-no-blur);
}

/*Blockquote untuk Quote*/
blockquote {
  font-size: 18px;
  margin: auto auto;
  padding: 0.7em 0.8em 0.7em 0.8em;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  width: 100%;
  color: var(--text-dark);
  border-left: 6px solid #0d6efd;
  border-radius: 4px;
  background-color: var(--bg-navbar-no-blur);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
blockquote > p {
  margin: auto auto;
}

/*Logo Tech*/
#tech-logo {
  transition: all 0.2s linear;
}
#tech-logo:hover {
  transform: scale(1.2);
}

/*Tombol Dark Mode*/
#toggle {
  transition: all 0.2s linear;
}
#toggle:hover {
  transform: scale(1.2);
}

/*Text gelap*/
.text-second {
  color: var(--text-2nd);
}

/*Syntax Highlighter*/
.highlight pre {
  padding: 8px 14px 8px 14px;
  border-radius: 5px;
}

/*Gambar nya biar tumpul*/
.blog-images {
  border-radius: 5px;
}

/*Ganti font di judul nya*/
.judul {
  font-family: "Open Sans";
}
.courier {
  font-family: courier;
}

.form-check {
  margin-left:10px;
  margin-right:10px;
}

/* Judul Blog */
tr td a .judul-blog:hover {
  /* color: #0c49a6; */
  color: var(--text-dark);
  border-bottom: 1px solid var(--text-dark);
  padding-bottom: 3px;
}

/* List Link eksternal */
a .link-external:hover {
  /* color: #0c49a6; */
  color: var(--text-dark);
  border-bottom: 1px solid var(--text-dark);
  padding-bottom: 3px;
}

section {
  z-index: 1;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

/*Project Card*/
div .project-card {
  width: 100%;
  height: 100%;
  padding: 1.3em 1.5em 0.5em 1.5em;
  background-color: var(--bg-navbar-no-blur);
  border-radius: 5px;
  border: 2px solid #0d6efd;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.project-link {
  color: #0d6efd;
  transition: all 0.2s linear;
  margin-right: 4px;
  margin-left: 4px;
}
.project-link:hover {
  transform: scale(1.2);
  color: var(--text-dark);
}

/* Social Media Icons */
.social-icons {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s linear;
  margin-right: 4px;
  margin-left: 4px;
}
.social-icons:hover {
  transform: scale(1.3);
  color: #0d6efd;
}

/* Margin Bottom */
.margin-vertical {
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

input[type="name"], input[type="email"], input[type="subject"], textarea[name="message"] {
  background-color : var(--bg-navbar-no-blur) !important; /* #e6e6e6; */
  border: 1px solid #0d6efd;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  caret-color: var(--text-dark);
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
  z-index: 0;
}

hr:not([size]) {
  height: 1px;
}